Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-redis
django-cors-headers
django-filter
django-storages[s3]
celery
redis
Pillow
PyJWT
python-dateutil
requests
python-decouple
boto3
psycopg2-binary
whitenoise
